* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'PT Sans', sans-serif;
    /* overflow-x: hidden; */
}

ol, ul {
    list-style: none;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: lightblue;
}

.global{
    width: 80%;
    height: 100%;
}

/* Header */

.header {
    background-color: white;
    width: 100%;
    height: 20vh;
}

.header .header-upper {
    width: 100%;
    height: 70%;
}

.header .header-upper .container-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header .header-upper .container-logo img {
    height: 100%;
    width: 33%;
}

.header .header-lower {
    background-color: #0e6cb1;
    width: 100%;
    height: 30%;
}

.header .header-lower .menu {
    width: 100%;
    height: 100%;
}

.header .header-lower .menu ol {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header .header-lower .menu ol li {
    width: 10%;
    height: 100%;
}

.header .header-lower .menu ol .link-middle {
    border-left: 0.1px dotted white;
    border-right: 0.1px dotted white;
}

.header .header-lower .menu ol li .link {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header .header-lower .menu ol li .link:hover {
    background-color: #0b5084;
    /* border-radius: 20px; */
}

main .hero {
    height: 55vh;
    width: 100%;
}

main .hero .video-container {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .hero .video-container video {
    height: inherit;
    width: 80%;
    object-fit: cover;
    position: absolute;
    z-index: 5;
}

main .hero .texture {
    width: 80%;
    height: inherit;
    position: absolute;
    z-index: 15;
    background: url('../Resources/textures.png');
}

main .hero .video-container::after {
    height: inherit;
    width: 80%;
    object-fit: cover;
    content: '';
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
}

main .hero .video-container .hero-note {
    background: rgba(0, 0, 0, 0.8);
    height: 12vh;
    width: 55%;
    display: flex;
    position: relative;
    z-index: 20;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main .hero .video-container .hero-note h1 {
    font-size: 4.0rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* About us */

main .about-us {
    width: 100%;
    height: 70vh;
}

main .about-us .about-us-header-container {
    background-color: #0e6cb1;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .about-us .about-us-header-container .about-us-header {
    color: white;
    font-size: 3.2rem;
}

main .about-us .about-us-description {
    /* padding-top: 50px; */
    height: 88%;
    background-color: #f9f9f9;
}

main .about-us .about-us-description .about-us-title {
    font-size: 3.2rem;
    text-align: center;
    padding-top: 3%;
}

main .about-us .about-us-description .about-us-text {
    padding: 1% 10%;
    font-size: 2.4rem;
    text-align: center;
}

.about-us-pictures {
    padding-top: 3%;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: flex;
}

.picture-container {
    width: 100%;
    height: 100%;
    margin-right: 3%;
}

.picture-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Banner */

main .banner {
    width: 100%;
    height: 60vh;
    display: flex;
}

.banner .img-container {
    width: 65%;
    height: 100%;
}

.banner .img-banner {
    width: 100%;
    height: 100%;
}

.banner .img-banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner .nota-banner {
    height: 100%;
    width: 35%;
    background-color: #0e6cb1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .nota-banner .ul-container {
    color: white;
    width: 85%;
    height: 70%;
}

.banner .nota-banner .ul-container .list {
    margin-bottom: 15%;
}

.banner .nota-banner .ul-container .list h2 {
    font-size: 3.2rem;
    margin-bottom: 3%;
}

.banner .nota-banner .ul-container .list li {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.banner .nota-banner .ul-container .list li .asset {
    content: url('../Resources/check.svg');
    height: 5%;
    width: 3%;
    margin-right: 10px;
}

/* Services */

.services-parent {
    width: 100%;
    height: 60vh;
    background-color: #f9f9f9;
    background-image: url('../Resources/texture-banner.png');
}

.services-parent .services {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.services .services-container {
    /* padding-top: 5%; */
    width: 30%;
    height: 90%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.services .services-container .img-container {
    width: 100%;
    height: 50%;
}

.services .services-container .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .services-container .container-description {
    width: 100%;
    height: 50%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .services-container .container-description .description-title {
    font-size: 2.4rem;
    color: #084069;
    padding-top: 3%;
    text-align: center;
}

.services .services-container .container-description .description-text {
    font-size: 1.6rem;
    text-align: center;
    padding: 0% 5%;
}

.services .services-container .container-description .link-container {
    background-color: #0e6cb1;
    height: 20%;
    width: 40%;
    border-radius: 10px;
}

.services .services-container .container-description .link-container a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}

/* Contact */

.contact {
    background-color: #0e6cb1;
    background-image: url('../Resources/texture-contact.png');
    width: 100%;
    height: 65vh;
    display: flex;
    color: white;
}

/* Contact Left */

.contact .contact-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact .contact-left .container-text {
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact .contact-left .container-text .contact-text {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.contact .contact-left .container-text .contact-title {
    padding-top: 7%;
    font-size: 2.4rem;
}

/* Contact right */

.contact-right {
    width: 50%;
    height: 100%;
    display: flex;
}

.contact-right .form-contact-container {
    width: 70%;
    height: 100%;
    margin: auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-right .form-contact-container .form-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-right .form-contact-container .form-contact h2 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.contact-right .form-contact-container .form-contact label {
    width: 100%;
    height: 7%;
    justify-content: flex-end;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-right .form-contact-container .form-contact label span {
    justify-content: flex-start;
    margin-right: 30px;
    width: 25%;
}

.contact-right .form-contact-container .form-contact label input, .contact-right .form-contact-container .form-contact label select {
    width: 75%;
    justify-content: flex-end;
    padding: 10px 15px;
}

.contact-right .form-contact-container .form-contact label input:focus, .contact-right .form-contact-container .form-contact label select:focus {
    outline: none;
}

.contact-right .form-contact-container .form-contact button {
    background-color: #4c7bff;
    color: white;
    height: 7%;
    width: 20%;
    border-radius: 10px;
    /* margin-top: 15px; */
    border: none;
    font-size: 1.6rem;
    position: relative;
    top: -2%;
}

.contact-right .form-contact-container .form-contact button:focus {
    outline: none;
}

/* Footer */

.footer {
    width: 100%;
    height: 8vh;
    background-color: #084069;
}



@media screen and (max-width: 1024px){
    .header .header-lower .menu ol li .link{
        font-size: 1.6rem;
    }
    .services .services-container .container-description .description-title,
    .contact .contact-left .container-text .contact-title{
        font-size: 1.6rem;
    }

    .services .services-container .container-description .description-text, 
    .services .services-container .container-description .link-container{
        font-size: 1.2rem;
    }

    .services .services-container .container-description .link-container a{
        font-size: 1.2rem;
    }

    main .hero .video-container .hero-note h1{
        font-size: 3.2rem;
    }

    main .about-us .about-us-header-container .about-us-header,
    main .about-us .about-us-description .about-us-title{
        font-size: 3.2rem;
    }
    
    main .about-us .about-us-description .about-us-text{
        font-size: 1.6rem;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .banner .nota-banner .ul-container .list h2{
        font-size: 3.2rem;
    }

    .banner .nota-banner .ul-container .list li{
        font-size: 1.2rem;
    }

    .contact-right .form-contact-container .form-contact label span{
        width: 20%;
        margin-right: 10%;
    }

}
@media screen and (max-height:768px){

    .contact {
        height: 75vh;
    }
}

@media screen and (max-width:768px){
    .header .header-lower .menu ol li {
        width: 33%;
    }

    .header .header-upper .container-logo img{
        width:60%;
    }

    main .hero {
        height: 40vh;
        width: 100%;
    }

    .services .services-container .container-description .link-container{
        width: 80%;
    }

    .contact .contact-left .container-text .contact-text{
        text-align: center;
    }

}

@media screen and (max-width:425px){

    .global{
        width: 100%;
        height: 100%;
    }

    main .hero .texture,
    main .hero .video-container video,
    main .hero .video-container::after{
        width: 100%;
    }

    .header .header-lower .menu ol li .link{
        font-size: 1.6rem;
    }

    .header .header-upper .container-logo img{
        width: 100%;
    }

    main .hero {
        height: 30vh;
        width: 100%;
    }
    main .hero .video-container .hero-note h1{
        font-size: 2.4rem;
    }

    .header .header-lower .menu ol li {
        width: 33%;
    }

    main .about-us .about-us-header-container .about-us-header,
    main .about-us .about-us-description .about-us-title{
        font-size: 1.6rem;
        text-align: center;
    }

    main .about-us .about-us-description .about-us-title{
        padding-top: 10%;
    }

    main .about-us .about-us-description .about-us-text{
        font-size: 1.0rem;
        padding-bottom: 8%;
    }

    main .about-us .about-us-description .about-us-pictures{
        height: 60%;
        flex-wrap: wrap;
    }

    main .about-us .about-us-description .about-us-pictures .picture-container{
        width: 50%;
        height: 50%;
        margin-right: 0%;
    }

    .banner .img-container{
        width: 0%;
    }
    .banner .nota-banner{
        width: 100%;
        background: url('../Resources/banner-lower.jpg');
        /* background-size: 100%; */
        background-repeat: round;
        object-fit: contain;
    }
    .banner .nota-banner::after{
        position: absolute;
        width: 100%;
        height: 60vh;
        content: '';
        object-fit: cover;
        z-index: 30;
        background-color: rgba(14, 108, 177, 0.8);
    }
    .banner .nota-banner .ul-container{
        z-index: 35;
    }
    .banner .nota-banner .ul-container .list h2{
        font-size: 1.6rem;
    }
    .banner .nota-banner .ul-container .list li{
        font-size: 1.2rem;
    }
    .banner .nota-banner .ul-container .list li .asset{
        width: 5%;
    }

    .services-parent{
        height: 210vh;
    }
    .services-parent .services{
        width: 80%;
        height: 100%;
        flex-wrap: wrap;
    }
    .services .services-container{
        padding-top: 0%;
        margin-right: 0%;
        width: 100%;
        height: 30%;
    }
    .services .services-container .container-description .description-title, 
    .contact .contact-left .container-text .contact-title{
        font-size: 1.6rem;
    }
    .services .services-container .container-description .description-text, 
    .services .services-container .container-description .link-container{
        font-size: 1.2rem;
    }
    .services .services-container .container-description .link-container a{
        font-size: 1.2rem;
    }


    .contact{
        height: 150vh;
        flex-wrap: wrap;
    }
    .contact .contact-left{
        width: 100%;
        height: 65vh;
        justify-content: center;
    }
    .contact .contact-left .container-text{
        text-align: center;
    }
    .contact .contact-right{
        width: 100%;
        height: 85vh;
    }
    .contact-right .form-contact-container .form-contact h2{
        font-size: 2.4rem;
    }
    .contact-right .form-contact-container .form-contact label{
        display: block;
    }
    .contact-right .form-contact-container .form-contact label input, 
    .contact-right .form-contact-container .form-contact label select{
        width: 100%;
    }
    .contact-right .form-contact-container .form-contact button{
        width: 40%;
        top: 2%;
    }
}
